.sqrButton {

    height: 50px;
  
    width: 50px;
  
  }
  
   
  
  .longButton {
  
    height: 50px;
  
    width: 150px;
  
  }
  
  #inputClass {
  
    height: 50px;
  
    width: 450px;
  
  }
  